{% extends 'basic.html' %}

{% block search %}
{% endblock %}
{% block results %}
<form action="http://127.0.0.1:5000/create_emp" method="post/get" >
    <table border="0">
        <tr>
            <td>Имя</td>
            <td><input type="text" name="name"  value=""></td>
        </tr>
        <tr>
            <td>Должность</td>
            <td><input type="text" name="position" value=""></td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td><input type="text" name="phone" value=""> </td>
        </tr>
        <tr>
            <td>ID департамента</td>
            <td><input readonly type="text" name="dep_id" value="{{id}}"> </td>
        </tr>
    </table>
    <input type="submit" value="Создать">
    <input type="reset" value="Очистить">
 </form>
{% endblock %}