{% extends 'basic.html' %}

{% block search %}
{% endblock %}
{% block results %}

<br>

<form action="http://127.0.0.1:5000/edit_employee" method="post/get" >
    <table border="0">
       <tr>
            <td>ID Работника</td>
            <td><input readonly name="id"  value={{results[0].id}}><br></td>
        </tr>
        <tr>
            <td>Имя</td>
            <td><input type="text" name="name"  value="{{results[0].name}}"></td>
        </tr>
        <tr>
            <td>Должность</td>
            <td><input type="text" name="position" value="{{results[0].position}}"></td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td><input type="text" name="phone" value="{{results[0].phone}}"> </td>
        </tr>
        <tr>
            <td>Работает в</td>
            <td><input type="text" name="dep_id" value="{{results[0].dep_id}}"> </td>
        </tr>
    </table>
    <input type="submit" value="Изменить">
    <input type="reset" value="Очистить">
 </form>

<h2>Заявки созданые сотрудником</h2>
<form>
  <input type="search" hidden name="creator" value="{{results[0].id}}">
  <input type="submit" formaction="http://127.0.0.1:5000/create_ord" value="Регистрация Заявки">
</form>
<table border="3">
  <tr>
    <th>ID Заявки</th>
    <th>Дата создания</th>
    <th>Создатель</th>
    <th>Статус</th>
    <th>Тип</th>
    <th>Описание</th>
    <th>Серийный номер</th>
    <th>Цена</th>
    <th>Обновлено</th>
    <th></th>
  </tr>
    {%for res in results[1] %}
    <tr>
      <td><a href="http://127.0.0.1:5000/search?Заявки={{res.id}}">{{res.id}}</a></td>
      <td>{{res.created}}</td>
      <td><a href="http://127.0.0.1:5000/search?Сотрудники={{res.creator}}">{{res.creator}}</a></td>
      <td>{{res.status}}</td>
      <td>{{res.type}}</td>
      <td>{{res.descript}}</td>
      <td>{{res.serial}}</td>
      <td>{{res.price}}</td>
      <td></td>
    </tr>
  {% endfor%}
</table>
</table>

{% endblock %}