{% extends 'basic.html' %}

{% block search %}

<h2>Поиск заявки по id</h2>
{{ super() }}
<br>
{% endblock %}
{% block results %}
<br>
<table border="3">
  <tr>
    <th>ID Заявки</th>
    <th>Дата создания</th>
    <th>Создатель</th>
    <th>Статус</th>
    <th>Тип</th>
    <th>Описание</th>
    <th>Серийный номер</th>
    <th>Обновлено</th>
  </tr>
    {%for res in results %}
    <tr>
      <td><a href="http://127.0.0.1:5000/search?Заявки={{res.o_id}}">{{res.o_id}}</a></td>
      <td>{{res.o_created}}</td>
      <td><a href="http://127.0.0.1:5000/search?Сотрудники={{res.o_creator}}">{{res.o_creator}}</a></td>
      <td>{{res.o_status}}</td>
      <td>{{res.o_type}}</td>
      <td>{{res.o_descript}}</td>
      <td>{{res.o_serial}}</td>
      <td></td>
    </tr>
  {% endfor%}
</table>

{% endblock %}



