{% extends 'basic.html' %}

{% block search %}
{% endblock %}
{% block results %}

<br>

<form id="data" action="http://127.0.0.1:5000/edit_order" method="post/get" >
    <table border="0">
       <tr>
            <td>ID зафвки</td>
            <td><input readonly name="id"  value={{results[0].id}}><br></td>
        </tr>
        <tr>
            <td>Дата создания</td>
            <td><input readonly disabled name="created"  value="{{results[0].created.strftime("%d/%m/%Y, %H:%M") }}"></td>
        </tr>
        <tr>
            <td>Создатель</td>
            <td><input type="number" name="creator" value="{{results[0].creator}}"></td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>
                <select name="status" form="data">
                    <option selected value="{{results[0].status}}">{{results[0].status}}</option>
                    <option value="Новый">Новый</option>
                    <option value="В работе">В работе</option>
                    <option value="Готов">Готов</option>
                    <option value="Отказ">Отказ</option>
                    <option value="Ждет запчасть">Ждет запчасть</option>
                    <option value="Выдан клиету">Выдан клиету</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Тип</td>
            <td>
            <select name="type" form="data">
                    <option selected value="{{results[0].type}}">{{results[0].type}}</option>
                    <option value="Платный">Платный</option>
                    <option value="Гарантийный">Гарантийный</option>
                    <option value="Другой">Другой</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Описание</td>
            <td><input type="text" name="descript" value="{{results[0].descript}}"> </td>
        </tr>
        <tr>
            <td>Серийный Номер</td>
            <td><input type="text" name="serial" value="{{results[0].serial}}"> </td>
        </tr>
        <tr>
            <td>Цена</td>
            <td><input type="number" name="price" value="{{results[0].price}}"> </td>
        </tr>
        <tr>
            <td>Обновлено</td>
            <td><input readonly disabled name="updated"  value="{{results[0].updated.strftime("%d/%m/%Y, %H:%M") }}"></td>
        </tr>
    </table>
    <input type="submit" value="Изменить">
    <input type="reset" value="Очистить">
 </form>

{% endblock %}