{% extends 'basic.html' %}

{% block search %}
<h2>Поиск сотрудника по id</h2>
{{ super() }}
<br>
{% endblock %}
{% block results %}
<br>
<table border="3">
  <tr>
    <th>ID Работника</th>
    <th>Имя</th>
    <th>Должность</th>
    <th>Департамент</th>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[0]['id']}}">{{results[0]['id']}}</a></td>
    <td>{{results[0]['name']}}</td>
    <td>{{results[0]['position']}}</td>
    <td>{{results[0]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[1]['id']}}">{{results[1]['id']}}</a></td>
    <td>{{results[1]['name']}}</td>
    <td>{{results[1]['position']}}</td>
    <td>{{results[1]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[2]['id']}}">{{results[2]['id']}}</a></td>
    <td>{{results[2]['name']}}</td>
    <td>{{results[2]['position']}}</td>
    <td>{{results[2]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[3]['id']}}">{{results[3]['id']}}</a></td>
    <td>{{results[3]['name']}}</td>
    <td>{{results[3]['position']}}</td>
    <td>{{results[3]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[4]['id']}}">{{results[4]['id']}}</a></td>
    <td>{{results[4]['name']}}</td>
    <td>{{results[4]['position']}}</td>
    <td>{{results[4]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[5]['id']}}">{{results[5]['id']}}</a></td>
    <td>{{results[5]['name']}}</td>
    <td>{{results[5]['position']}}</td>
    <td>{{results[5]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[6]['id']}}">{{results[6]['id']}}</a></td>
    <td>{{results[6]['name']}}</td>
    <td>{{results[6]['position']}}</td>
    <td>{{results[6]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[7]['id']}}">{{results[7]['id']}}</a></td>
    <td>{{results[7]['name']}}</td>
    <td>{{results[7]['position']}}</td>
    <td>{{results[7]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[8]['id']}}">{{results[8]['id']}}</a></td>
    <td>{{results[8]['name']}}</td>
    <td>{{results[8]['position']}}</td>
    <td>{{results[8]['department']}}</td>
  </tr>
  <tr>
    <td><a href="http://127.0.0.1:5000/search?Сотрудники={{results[9]['id']}}">{{results[9]['id']}}</a></td>
    <td>{{results[9]['name']}}</td>
    <td>{{results[9]['position']}}</td>
    <td>{{results[9]['department']}}</td>
  </tr>
{% endblock %}